.clearfix::after { 
    content: ''; 
    display: block; 
    clear: both;
}

.wrapper {
    width: 80%;
    margin: 0 auto;
    background-color: burlywood;
}

.header {
    color: white;
    margin: 0 auto;
    width: 400px;
    height: 100px;
    background-color: #141f40;
}

.main {
    width: 400px;
    margin: 0 auto;
}

.left {
    color: white;
    float: left;
    width: 150px;
    height: 250px;
    background-color: #80bfa8;
}

.right {
    color: white;
    float: right;
    width: 250px;
    height: 250px;
    background-color: #8c2727;
}

.footer {
    color: white;
    margin: 0 auto;
    width: 400px;
    height: 100px;
    background-color: #d98d30;
}

* {
    margin: 0;
    padding: 0;
}